body {
    --saucer-body-radius: 80px / 30px;
    --saucer-head-radius: 80%;
    --saucer-body-background: deepskyblue;
    --saucer-accent-background: yellow;
    --saucer-window-background: mediumvioletred;
    --round-border: 50%;
    --default-border-radius: 5%;
    --default-font-color: white;
}
