.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--default-font-color);
  gap: 100px;
}

.main {
  display: flex;
  align-items: center;
  gap: 50px;
}

.gameButton {
  border: 1px solid mediumvioletred;
  padding: 20px 40px;
  border-radius: var(--default-border-radius);
  background: transparent;
  color: var(--default-font-color);
  font-size: calc(10px + 1.5vmin);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 768px) {
  main {
    flex-direction: column;
    row-gap: 60px;
  }
}
